:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --text-accent-color: #FF0070;
  --accent-color: #FF0070;
  --title-text-color: #DB00FF;
  --block-title-text-color: #000028;
  --border-color: #FF0070;
  --border-color-opacity: #FF007066;

  .header__decoration-element {
    display: flex;
  }
}
