.page {
  font-family: var(--main-font), monospace;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  font-size: var(--text-size);
  padding: 10px;
  margin-bottom: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated-zone::before {
  content: "";
  z-index: 1;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.header__theme-menu {
  justify-self: right;
  align-self: center;
}

.header__theme-menu-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  padding: 2px;
  box-sizing: border-box;
  width: 70px;
  text-align: center;
  font-weight: 400;
  color: var(--text-accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  cursor: pointer;
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
}

.header__title {
  text-transform: lowercase;
  justify-self: center;
  align-self: center;
  font-size: var(--title-font-size);
  color: var(--title-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  font-weight: var(--font-weight-bold);
}

.header__description {
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  height: fit-content;
  align-self: center;
}

.header__decoration-element {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__decoration-element::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070;
  background-color: var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--block-title-text-color);
}

.content {
  display: grid;
  gap: 50px;
  margin-bottom: 40px;
}

.section {
  display: grid;
  gap: 20px;
  padding: 0 10px;
}

.section__title {
  font-size: var(--text-size);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  color: var(--text-accent-color);
}

.section__texts {
  display: grid;
  gap: 20px;
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__card-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size);
  line-height: 23.4px;
}

.thin {
  font-weight: var(--font-weight-normal);
}

.section__card-description {
  color: var(--text-color);
  font-size: var(--text-size);
  line-height: 23.4px;
}

.section__card-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.section__card-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__card-link:focus {
  outline: none;
}

.section__card-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__card-images {
  display: grid;
  gap: 10px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  padding: 10px;
  display: grid;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  align-self: center;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-text-color);
  text-transform: lowercase;
  font-size: var(--title-font-size);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    margin-bottom: 60px;
    min-height: 1024px;
  }

  .decorated-zone::after {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__decoration-element {
    right: 30px;
    top: 20px;
  }

  .header__title {
    justify-self: start;
    margin-left: -20px;
  }

  .header__description {
    justify-self: right;
    align-self: center;
    width: 50%;
  }

  .content {
    gap: 80px;
    margin-bottom: 60px;
  }

  .section {
    padding: 0 20px;
  }

  .section_type_primary, .section_type_thirdly {
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .section_type_secondary .section__title {
    max-width: 236px;
  }

  .section_type_fourthly .section__card {
    gap: 20px;
  }

  .section__card-images {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    margin-bottom: 60px;
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section_type_primary, .section_type_thirdly {
    grid-template-columns: calc(1 / 3 * 100% - 12px) 1fr;
  }

  .section_type_secondary .section__title {
    max-width: calc(1 / 3 * 100%);
  }

  .section_type_secondary .section__texts {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer {
    min-height: 768px;
  }
}
